window {
    background: transparent;
}

#bar #center {
    background-color: rgba(23, 23, 23, 0.9);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 1);
    outline: 1px solid rgba(255, 255, 255, 0.26);
    outline-offset: -2px;
}

/* Launcher */
.launcher,
.launcher .item {
    background: transparent;
    border: none;
}

.launcher {
    padding-bottom: 4px;
    padding-right: 2px;
    padding-left: 2px;
}

.launcher .item.open,
.launcher .item.focused,
.launcher .item.urgent {
    background-size: 5px 4px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.launcher .item.open {
    background-image: radial-gradient(circle, rgba(200, 200, 200, 1) 2px, transparent 2px);
}

.launcher .item.focused {
    background-image: radial-gradient(circle, rgba(0, 125, 254, 1) 2px, transparent 2px);
}

.launcher .item.urgent {
    background-image: radial-gradient(circle, #ff4444 2px, transparent 2px);
}

/* Separator */
.label {
    color: rgba(255, 255, 255, 0.7);
    font-size: 28px;
    font-weight: 150;
    margin: 0 4px;
    padding: 0;
    background: transparent;
}

/* Overview button */
#overview,
#overview-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
}

#overview-btn {
    padding-left: 10px;
}

#overview-btn:hover {
    opacity: 0.7;
}

