window {
    outline: 1px solid rgba(180, 180, 180, 0.4);
    outline-offset: -1px;
    border-radius: 15px;
}

window:backdrop {
    outline: 1px solid rgba(255, 255, 255, 0.1);
    outline-offset: -1px;
    border-radius: 15px;
}

window.maximized,
window.fullscreen,
window.tiled {
    outline: none;
    border-radius: 0;
}

window.maximized:backdrop,
window.fullscreen:backdrop,
window.tiled:backdrop {
    outline: none;
    border-radius: 0;
}