@define-color headerbar_bg_color rgb(26, 26, 26);
@define-color window_bg_color rgb(28, 28, 28);
@define-color sidebar_bg_color rgb(26, 26, 26);
@define-color view_bg_color rgb(34, 34, 34);

@define-color headerbar_backdrop_color rgb(24, 24, 24);
@define-color accent_bg_color rgb(10, 132, 255);
@define-color accent_color @accent_bg_color;

@define-color card_bg_color rgba(245, 245, 245, 0.08);
@define-color sidebar_border_color rgba(0, 0, 0, 0.4);
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_bg_color;
@define-color shade_color rgba(0, 0, 0, 0.2);


windowcontrols button image,
windowcontrols > button:backdrop > image {
    background-color: rgba(200, 200, 200, 0.14);
}
windowcontrols > button:hover > image,
windowcontrols > button:backdrop:hover > image {
    background-color: rgba(200, 200, 200, 0.3);
}

popover > contents,
popover.background > contents,
popover.menu > contents,
popover > arrow,
popover.background > arrow,
popover.menu > arrow {
    border: 1px solid #424242;
    background-color: rgba(28, 28, 28, 1);
    background: rgba(28, 28, 28, 1);
        box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.4),
        0 4px 10px rgba(0, 0, 0, 0.3),
        0 0 0 1px rgba(0, 0, 0, 1);
}

windowcontrols > button > image {
    padding: 3px;
}
windowcontrols button {
    margin: 0 -2px; 
}

window:not(.maximized):not(.fullscreen):not(.tiled) {
  outline: 1px solid rgba(255, 255, 255, 0.22);
  outline-offset: -1px;
  border-radius: 10px;
}

window:not(.maximized):not(.fullscreen):not(.tiled):backdrop {
  outline-color: rgba(255, 255, 255, 0.1);
}

placessidebar separator {
    min-height: 0;
    max-height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

toast {
    outline: 1px solid rgba(255, 255, 255, 0.22);
    outline-offset: -2px;
    background-color: rgba(52, 52, 52, 0.98);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.4),
        0 4px 10px rgba(0, 0, 0, 0.3),
}
dialog.alert .message-area,
dialog.alert .response-area {
    background-color: rgb(34, 34, 34);

}

 {
    background-color: rgb(34, 34, 34);
}