@define-color headerbar_bg_color rgb(26, 26, 26);
@define-color window_bg_color rgb(28, 28, 28);
@define-color sidebar_bg_color rgb(26, 26, 26);
@define-color view_bg_color rgb(34, 34, 34);

@define-color headerbar_backdrop_color rgb(24, 24, 24);
@define-color accent_bg_color rgb(10, 132, 255);
@define-color accent_color @accent_bg_color;

@define-color card_bg_color rgba(245, 245, 245, 0.08);
@define-color sidebar_border_color rgba(0, 0, 0, 0.4);
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_bg_color;
@define-color shade_color rgba(0, 0, 0, 0.2);

headerbar.titlebar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

/*
.titlebutton {
    background-color: #383838;
}
.titlebutton:hover {
    background-color: #525252;
}
.titlebutton:backdrop {
    background-color: #2d2d2d;
}
.titlebutton:backdrop:hover {
    background-color: #393939;
}
*/

popover,
menu {
    border: 1px solid #424242;
    background: #202020;
}

popover {
    box-shadow: 
        0 3px 8px rgba(0, 0, 0, 0.35),
        0 0 0 1px rgba(0, 0, 0, 1);
}

.csd decoration {
    box-shadow: none;
}

headerbar button.titlebutton,
.titlebar button.titlebutton {
    min-width: 22px;
    min-height: 22px;
    margin: 0 3px;
}   

