spawn-at-startup "sh" "-c" "waybar -c ~/.config/waybar/topbar -s ~/.config/waybar/topbar.css"
spawn-at-startup "sh" "-c" "swaybg -i ~/.config/wallpapers/dex-ezekiel-PakmF-MEoDA-unsplash.jpg"
spawn-at-startup "swayosd-server"
spawn-at-startup "swaync"
spawn-at-startup "sh" "-c" "~/.local/bin/ironbar"