prefer-no-csd

layout {
    background-color "#35354000"
    center-focused-column "always"
    always-center-single-column
    default-column-width { proportion 0.9; }
    default-column-display "tabbed"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.9
    }
    tab-indicator {
        off
    }

    gaps 12
    struts {
        left 0
        right 0
        top -5
        bottom -5 
    }
}

recent-windows {
    debounce-ms 750
    open-delay-ms 165
    highlight {
        active-color "606060"
        padding 5
        corner-radius 6
    }
    previews {
        max-height 120
        max-scale 1
    }
}

