window#osd {
    border-radius: 10px;
    outline: 1px solid rgba(99, 99, 99, 0.8);
    outline-offset: -2px;
    background: rgba(60, 60, 60, 0.6);
    border: 1px solid rgba(0, 0, 0, 1);
}  
window#osd #container {
  margin: 8px;
  padding: 4px;
  background: transparent;
}
window#osd image {
  -gtk-icon-transform: scale(0.7);
}
window#osd progressbar trough {
    background: #3a3a3a;
}
window#osd progressbar {
    background: #3a3a3a;
}
window#osd progressbar progress {
    background: #ffffff;
}