[Desktop Entry]
Name=Problem Reporting
Name[ar]=التبليغ عن الأخطاء
Name[be]=Справаздачы аб праблемах
Name[bg]=Problem Reporting
Name[bn]=প্রতিবেদন প্রদানে ত্রুটি
Name[bs]=Izvještavanje o problemu
Name[ca]=Presentació d'informes del problema
Name[cs]=Hlášení problémů
Name[da]=Problemrapportering
Name[de]=Problemberichterstattung
Name[el]=Αναφορά προβλημάτων
Name[en_GB]=Problem Reporting
Name[eo]=Problemraportado
Name[es]=Informe de problemas
Name[eu]=Akatsen jakinarazpena
Name[fa]=گزارش دادن مشکل
Name[fi]=Vikailmoitin
Name[fr]=Signalement de problèmes
Name[fur]=Segnalazion erôrs
Name[he]=דיווח על בעיות
Name[hi]=समस्या रिपोर्टिंग
Name[hu]=Hibajelentés
Name[id]=Pelaporan Masalah
Name[it]=Segnalazione errori
Name[ja]=問題の報告
Name[ka]=პრობლემის გადაგზავნა
Name[kk]=Мәселелерді хабарлау
Name[km]=រាយការណ៍អំពីបញ្ហា
Name[ko]=문제 보고
Name[lt]=Praneškite apie problemą
Name[nb]=Problemrapportering
Name[nl]=Probleemrapportage
Name[nn]=Problemrapportering
Name[pa]=ਸਮੱਸਿਆ ਬਾਰੇ ਜਾਣਕਾਰੀ
Name[pl]=Zgłaszanie problemów
Name[pt]=Comunicação de Problemas
Name[pt_BR]=Relato de Problemas
Name[ru]=Создание отчетов об ошибках
Name[si]=ගැටළු වාර්තා කිරීම
Name[sk]=Nahlásenie problému
Name[sq]=Raportimi i Problemeve
Name[sr]=Пријављивање проблема
Name[sv]=Problemrapportering
Name[ta]=அறிக்கையிடுவதில் சிக்கல்
Name[tr]=Sorun Bildirme
Name[uk]=Звітування щодо проблем
Name[ur]=مسئلہ کی رپورٹنگ
Name[vi]=Báo cáo lỗi
Name[zh_CN]=问题报告
Name[zh_HK]=問題回報
Name[zh_TW]=問題回報
Comment=View and report application crashes
Comment[ar]=عرض وتبليغ عن إنهيار التطبيق
Comment[be]=Прагляд і стварэнне справаздач пра аварыйныя спыненні праграмы
Comment[bg]=Преглед и докладване сривовете на приложение
Comment[bn]=অ্যাপ্লিকেশন ক্র্যাশগুলি দেখুন এবং প্রতিবেদন করুন
Comment[bs]=Pregledati i prijaviti rušenje aplikacija
Comment[ca]=Visualitzeu i informeu de les fallides en les aplicacions
Comment[cs]=Prohlédněte si a nahlaste chyby aplikací
Comment[da]=Vis og rapportér programnedbrud
Comment[de]=Applikationsabstürze ansehen und berichten
Comment[el]=Προβολή και αναφορά καταρρεύσεων εφαρμογών
Comment[en_GB]=View and report application crashes
Comment[eo]=Montri kaj raporti kraŝojn de aplikaĵoj
Comment[es]=Vista e informe de cuelgues de aplicaciones
Comment[eu]=Ikusi eta jakinarazi aplikazioen hutsegiteak
Comment[fa]=دیدن و گزارش کرش های برنامه
Comment[fi]=Katsele ja raportoi ohjelmien kaatumisia
Comment[fr]=Visualisez et signalez les plantages d'applications
Comment[fur]=Visualize e segnale i colàs des aplicazions
Comment[he]=דיווח על קריסת יישומים וצפייה בהם
Comment[hi]=अनुप्रयोग क्रैश को देखें और रिपोर्ट करें
Comment[hu]=Alkalmazás összeomlások megtekintése és jelentése
Comment[id]=Lihat dan laporkan kerusakan aplikasi
Comment[it]=Visualizza e segnala i crash dell'applicazione
Comment[ja]=アプリケーションクラッシュの表示とレポート
Comment[ka]=აპლიკაციების ავარიული დასრულების ნახვა და გადაგზავნა
Comment[km]=មើលនិងរាយការណ៍ពីកម្មវិធី​ដែលបានគាំង
Comment[ko]=응용프로그램 충돌 확인 및 보고
Comment[lt]=Peržiūrėti ir pranešti apie programų lūžimus
Comment[nb]=Vis og rapporter programkrasj
Comment[nl]=Bekijk en rapporteer crashes van toepassingen
Comment[nn]=Syn og rapporter programkræsj
Comment[pl]=Wyświetlanie i zgłaszanie awarii aplikacji
Comment[pt]=Ver e reportar falhas da aplicação
Comment[pt_BR]=Visualizar e relatar travamentos de aplicativos
Comment[ru]=Просмотреть сбои приложения и создать отчет
Comment[si]=යෙදුම් බිඳ වැටීම් බැලීම සහ වාර්තා කිරීම
Comment[sk]=Zobrazenie a nahlasovanie pádov aplikácií
Comment[sq]=Shikoni dhe raportoni përplasjet e aplikacioneve
Comment[sr]=Види и пријави пад програма
Comment[sv]=Visa och rapportera programkrascher
Comment[th]=ดูและรายงานข้อขัดข้องของแอปพลิเคชัน
Comment[tr]=Uygulama çökmelerini görüntüle ve bildir
Comment[uk]=Перегляд і звітування щодо аварійних завершень програм
Comment[ur]=ایپلیکیشن کی تباھی کو دیکھنا اور رپورٹ کرنا
Comment[zh_CN]=查看并报告应用程序崩溃
Comment[zh_TW]=檢視與回報應用程式崩潰
Icon=abrt
Exec=abrt-applet --gapplication-service
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-UsesNotifications=true
DBusActivatable=true
X-Desktop-File-Install-Version=0.28
Hidden=true
